* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #4B281C;
  color: #f2e8e5;
  font-family: 'Inter', sans-serif;
}

.featured-banner-wrapper {
  background-color: #D9D9D9;
}

.gallery-section-solid {
  background-color: #2D160E;
}

.gallery-section-gradient {
  background: linear-gradient(
    to bottom,
    #2D160E,
    transparent,
    #2D160E
  );
}


/* Scroll */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #4B281C;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #8c5a43;
  border-radius: 10px;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/playfair-display/PlayfairDisplay-Regular.woff2') format('woff2'),
       url('/fonts/playfair-display/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/playfair-display/PlayfairDisplay-Bold.woff2') format('woff2'),
       url('/fonts/playfair-display/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Light.woff2') format('woff2'),
       url('/fonts/inter/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Regular.woff2') format('woff2'),
       url('/fonts/inter/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Medium.woff2') format('woff2'),
       url('/fonts/inter/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-SemiBold.woff2') format('woff2'),
       url('/fonts/inter/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
       url('/fonts/open-sans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'),
       url('/fonts/open-sans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
       url('/fonts/open-sans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
       url('/fonts/montserrat/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
       url('/fonts/montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
       url('/fonts/montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Grand Hotel';
  src: url('/fonts/grand-hotel/GrandHotel-Regular.woff2') format('woff2'),
       url('/fonts/grand-hotel/GrandHotel-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
